<!--
<article>
    <div>
        <input type="text"
        [(ngModel)]="nome">
    </div>
    <p>Você digitou: {{ nome }}</p>

    <div>
        <input type="text" [(ngModel)]="pessoa.nome">
        <input type="number" [(ngModel)]="pessoa.idade">
        <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos.</p>
    </div>
</article>
-->
<!--<app-meu-form></app-meu-form> -->

<section class="input-output-properties">
    <article>
        <h3>Input/Output Properties</h3>


        <app-curso [nome]="nomeDoCurso"></app-curso>
        <contador [valor]="valorInicial" 
        (mudouValor)="onMudouValor($event)"></contador>
    </article>
</section>